# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/
CloverMMO2.iml
target/
META-INF/
pom.xml
.vs/
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
.project
